{
  "extends": [
    "@wemake-services/stylelint-config-scss",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "scale-unlimited/declaration-strict-value": 0,
    "selector-class-pattern": null,
    "scss/at-mixin-named-arguments": null,
    "scss/percent-placeholder-pattern": null,
    "plugin/stylelint-no-indistinguishable-colors": null
  }
}
