.navigation {
  @extend %cover;

  position: fixed;
  z-index: z($name: 'navigation');
  color: $color-white;
  pointer-events: none;
}

.navigation__link {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 12.8rem;
  height: 2rem;
  transition: opacity 0.4s ease;
  font-size: 0;
  pointer-events: auto;

  @include media('<phone') {
    top: 5rem;
    left: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }

  &:hover {
    opacity: 0.5;
  }
}

.navigation__link__icon {
  display: block;
}

.navigation__list__item {
  position: absolute;
  top: 4rem;
  right: 4rem;
  pointer-events: auto;
}

.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}
