$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-contesa: rgb(201, 113, 100);

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('navigation', 'content');
